 * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(56, 40, 40);
}

nav {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10vh;
    a {
        text-decoration: none;
        border: 2px solid rgb(0, 0, 0);
        padding: 5px;
        margin: 6px;
        border-radius: 5px;
    }
}

div {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: aquamarine;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}