* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    background-color: rgb(232, 229, 229);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    a {
        text-decoration: none;
        padding: 5px;
        border-radius: 3px;
        border: 2px solid black;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.container {
    height: 100%;
    padding: 20px;
    line-height: 25px;
    background-color: rgb(79, 76, 76);
    text-align: center;
    margin: 10px 30px;
}

button {
    padding: 5px;
    margin: 20px;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    color: azure;
    font-weight: 900;
}

p {
    line-height: 28px;
}