* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h1, span, h2 {
    text-align: center;
    line-height: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

#grey, #white, #blue, #yellow {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

#grey {
    background-color: grey;
}
#white {
    background-color: white;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}