* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(56, 40, 40);
}

nav {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10vh;
    a {
        text-decoration: none;
        border: 2px solid rgb(0, 0, 0);
        padding: 5px;
        margin: 6px;
        border-radius: 5px;
    }
}

h1 {
    text-align: center;
}

.buttons {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: black;
    color: white;

}